@use '../abstracts/_vars' as *

@mixin titles($font-size, $line-height)
  font-family: 'Dewi Expanded', sans-serif
  font-style: normal
  font-weight: 900
  font-size: $font-size
  line-height: $line-height
  text-transform: uppercase
  color: $white
  &.black
    color: $black


@mixin text($font-family, $font-weight, $font-size, $line-height)
  font-family: $font-family, sans-serif
  font-style: normal
  font-weight: $font-weight
  font-size: $font-size
  line-height: $line-height
  color: $black
  &.white
    color: $white


@mixin hero-card()
  min-height: 859px
  display: flex
  flex-direction: column
  justify-content: center
  align-content: flex-start
  align-items: flex-start
  position: relative
  &__title
    margin-bottom: 40px
  &__desc
    margin-bottom: 70px  
  &__bottom
    clip-path: polygon(0 43%, 0 100%, 100% 100%, 100% 0, 49% 0, 39% 43%)
    width: 100%
    height: 136px
    background: $black
    position: absolute
    bottom: -1px
    z-index: 99
    display: flex
    justify-content: flex-end
    padding: 0 36px
    align-items: center
    gap: 20px