@use '../abstracts/_vars' as *
  
.slider-football
  margin-top: 150px
  .swiper-football
    .swiper
      width: 100%
      height: 400px
    &__item
      color: $white
      min-height: 623px
    &__img
      object-fit: cover