@use '../abstracts/_vars' as *
  
.sport-fscreen
  margin-top: 100px
  &.mt150
    margin-top: 150px
  &__bg
    min-height: 550px
    background: url('../src/img/sport-full-screen.jpg') no-repeat center center
    background-size: cover
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    cursor: pointer

.footbal-fscreen
  margin-top: 100px
  &__bg
    min-height: 550px
    background: url('../src/img/football/2.jpg') no-repeat center center
    background-size: cover
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    cursor: pointer  




.exit-fees
  margin-top: 100px
  &.mt150
    margin-top: 150px
  &__bg
    min-height: 550px
    background: url('../src/img/exit-fees/2.jpg') no-repeat center center
    background-size: cover
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    cursor: pointer