@use '../abstracts/_vars' as *
  
.sport-video-preview
  margin-top: 100px
  display: flex
  min-height: 856px
  background: url(../src/img/footbal-video-preview.jpg) no-repeat center center
  background-size: cover
  align-items: center
  justify-content: center
  .play-btn
    cursor: pointer